---
---
<div class="flex flex-col md:flex-row place-self-auto gap-4 my-10">
    <div class="grow">
        <p class="text-sm">
            &copy; {new Date().getFullYear()} - Your Name 
        </p>
    </div>
    <div class="grow">
        <h4 class="font-bold text-xl">More</h4>
        <ul>
            <li class="my-5"><a href="#">Link Here</a></li>
            <li class="my-5"><a href="#">Link Here</a></li>
            <li class="my-5"><a href="#">Link Here</a></li>
        </ul>
    </div>
    <div class="grow">
        <h4 class="font-bold text-xl">Social</h4>
        <ul>
            <li class="my-5"><a href="#">Link Here</a></li>
            <li class="my-5"><a href="#">Link Here</a></li>
            <li class="my-5"><a href="#">Link Here</a></li>
        </ul>
    </div>
    <div class="grow">
        <h4 class="font-bold text-xl">Contact</h4>
        <ul>
            <li class="my-5"><a href="#">Link Here</a></li>
            <li class="my-5"><a href="#">Link Here</a></li>
            <li class="my-5"><a href="#">Link Here</a></li>
        </ul>
    </div>
</div>